.contact-ironman {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-ironman .contact-form-container .contact-title {
    padding: 10px;
    margin: 0;
    color: rgba(211, 184, 141, 1);
    font-size: 250%;
}

.contact-ironman .contact-form-container,
.contact-ironman .contact-form-container .contact-form {
    width: 50%;
    height: auto;
    /* padding: 10px; */
    margin: 5px 0;
    background-color: rgba(203, 58, 54, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition-property: box-shadow;
    transition-duration: .8s;
}

.contact-ironman .contact-form-container:hover {
    box-shadow: 1px 1px 20px 2px rgba(203, 58, 54, 1);
}

.contact-ironman .contact-form-container .contact-form {
    width: 100%;
}

.contact-ironman .contact-form-container .contact-form .text-field {
    border: none;
    width: 90%;
    height: 40px;
    padding: 0;
    margin: 10px 0;
}

.contact-ironman .contact-form-container .contact-form .text-field input {
    width: 100%;
    height: 100%;
    outline: none;
    font-size: 120%;
    padding-left: 0;
    transition-property: box-shadow;
    transition-duration: .8s;
    border: none;
}

.contact-ironman .contact-form-container .contact-form .text-area {
    border: none;
    width: 90%;
    height: 150px;
    padding: 0;
    margin: 10px 0;
}

.contact-ironman .contact-form-container .contact-form .text-area textarea {
    width: 100%;
    height: 100%;
    outline: none;
    font-size: 120%;
    padding-left: 0;
    transition-property: box-shadow;
    transition-duration: .8s;
    border: none;
}

.contact-ironman .contact-form-container .contact-form .text-area textarea:hover,
.contact-ironman .contact-form-container .contact-form .text-field input:hover {
    box-shadow: 1px 1px 3px 5px rgba(211, 184, 141, 1);
}

.contact-ironman .contact-form-container .contact-form .btn {
    width: 100%;
    height: 100%;
    outline: none;
    font-size: 120%;
    padding: 0;
    margin: 0;
    align-self: center;
    font-weight: bold;
    background-color: rgba(211, 184, 141, 1);
    color: rgba(203, 58, 54, 1);
    border: 1px solid rgba(211, 184, 141, 0);
    transition-property: background-color border color;
    transition-duration: .8s;
}

.contact-ironman .contact-form-container .contact-form .btn:hover {
    background-color: rgba(203, 58, 54, 1);
    border: 1px solid rgba(211, 184, 141, 1);
    color: rgba(211, 184, 141, 1);
}