.about {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.about .about-item {
    width: 95%;
    height: auto;
    margin: 0;
    padding: 20px 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(203, 58, 54, 1);
    margin: 10px 0;
    transition-property: box-shadow;
    transition-duration: .8s;
}

.about .about-item:hover {
    box-shadow: 1px 1px 10px 5px rgba(54, 58, 54, .6);
}

.about .about-item .about-img {
    width: 380px;
    height: 300px;
    transition-property: box-shadow;
    transition-duration: .8s;
}

.about .about-item .about-img:hover {
    box-shadow: 1px 1px 15px 10px rgba(211, 184, 141, 1);
}

.about .about-item .about-img img {
    width: 100%;
    height: 100%;
}

.about .about-item .about-para {
    width: 65%;
    height: 98%;
}

.about .about-item .about-para p {
    color: black;
    /* line-height: 25px; */
    width: 80%;
    margin: 10px auto;
    text-align: center;
}

.about .odd .about-img {
 order: -1;
}

.about .even .about-img {
    order: 1;
}

@media screen and (max-width: 920px) {
    .about .about-item {
        flex-direction: column;
    }
    .about .about-item .about-img {
        width: 85%;
        order: -1 !important;
    }

    .about .about-item .about-para {
        width: 100%;
        height: auto;
    }

    .about .about-item .about-para p {
        font-size: 115%;
    }
}