.footer {
    width: 100%;
    height: 120px;
    padding: 20px 0;
    margin: 20px 0 0 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgba(36, 34, 31, 1);
}

.footer p,
.footer h1 {
    font-weight: bolder;
    color: rgba(211, 184, 141, 1);
    padding: 0;
    margin: 0;
}