.feature-container{
    width: 100%;
    height: 88%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    z-index: 1;
    padding: 10px 0;
}

.feature-container .feature-ironman {
    /* flex-grow: 1; */
    position: absolute;
    width: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    /* align-self: flex-start; */
    padding: 10px;
    left: 15px;
}

.feature-container .feature-ironman h1{
    margin: 0;
    padding: 0;
    color: rgba(203, 58, 54, 1);
    font-weight: bolder;
    font-size: 350%;
    background-color: rgba(211, 184, 141, 1);
    padding: 5px;
}

.feature-container .feature-photo {
    width: 98%;
    height: 100%;
}

.feature-container .feature-photo img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

@media screen and (max-width: 920px) {
    .feature-container {
        flex-direction: column;
    }
    .feature-container .feature-ironman {
        position: static;
    }
}

@media screen and (max-width: 559px) {
    .feature-container {
        padding: 0;
    }

    .feature-container .feature-ironman {
        width: 100% !important;
        padding: 10px 0;
    }
    .feature-container .feature-ironman h1 {
        padding-left: 0;
        padding-right: 0;
        font-size: 180%;
    }

    .feature-container .feature-photo {
        height: auto;
        width: 100%;
    }
}